<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Recipe List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('partials/header')%>
    <!--Display title, whether favourited or not, description, list of ingredients, and list of steps
    for the selected recipt-->
    <h1><%=recipe[0].title%></h1>
    <div class="row">
        <form class="col" id='favouriteRecipe' action='/favouriteRecipe' method='post'>
            <input type="hidden" name="recipeURL" value="<%=recipe[0].recipeURL%>"></input>
            <button><% if (recipe[0].favourite == false){%>Favourite<%} else {%>Unfavourite<%}%></button>
        </form>
            <button><a href="/recipe/<%=recipe[0].recipeURL%>/editRecipe">Edit</a></button>
        <form class="col" id='deleteRecipe' action='/deleteRecipe' method='post'>
            <input type="hidden" name="recipeURL" value="<%=recipe[0].recipeURL%>"></input>
            <button type="button" id="deleteBtn">Delete</button>
        </form>
    </div>
    <img src=<%=recipe[0].imageUrl%> height="300px">
    <h2>Description</h2>
    <p><%=recipe[0].description%></p>
    <h3>Ingredients</h3>
    <ul>
        <% for (let i=0; i < recipe[0].ingredients.length; i++){%>
            <li><%=recipe[0].ingredients[i]%></li>
        <%}%> 
    </ul>
    <h3>Steps</h3>
    <ol>
        <% for (let i=0; i < recipe[0].steps.length; i++){%>
            <li><%=recipe[0].steps[i]%></li>
        <%}%> 
    </ol>
    

    <script>
        /*Make delete button send a post request with the recipeURL which will delete current recipe and 
        redirect to the recipe list*/
        let deleteBtn = document.querySelector("#deleteBtn");
        let deleteForm = document.querySelector("#deleteRecipe")

        deleteBtn.addEventListener("click", function(){

            //Make user confirm recipe deletion before submitting the form
            const response = confirm("Are you sure you want to delete this recipe?")
            if (response === true){
                deleteForm.submit();
            }
        })
    </script>
        
</body>
</html>